@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");
/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
* {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1060px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.bg-gradient {
  background: linear-gradient(180deg, #baa2ef 0%, #7a1af0 100%);
}

.gray-gradient {
  background: linear-gradient(180deg, #eceaea 0%, #d9d9d9 36.05%);
}

.card-gradient {
  background: linear-gradient(180deg, #9f53fd 0%, #7a1af0 32.29%);
}

.mask-purple {
  border-radius: 20px;
  opacity: 0.5;
  background: linear-gradient(180deg, #9265ec 0%, #0e0618 100%);
  mix-blend-mode: hard-light;
}

.relative {
  position: relative;
}

.overflow {
  overflow: hidden;
}

.header {
  padding-top: 3.125rem;
  padding-bottom: 6.25rem;
  z-index: 20;
}

.logo_img {
  max-width: 16.25rem;
  width: 100%;
}

.snow {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  mix-blend-mode: screen;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.header_absolute {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  max-height: 15rem;
}

.header_absolute2 {
  position: absolute;
  bottom: -18.75rem;
  right: -18.75rem;
  z-index: 0;
  max-width: 59.625rem;
}

.header_content {
  margin-top: 8.125rem;
}

.header_title {
  font-weight: 700;
  color: #f3f3f3;
  font-size: 2.25rem;
  line-height: 1.2;
  max-width: 38.375rem;
  letter-spacing: 0.04375rem;
}

.header_subtitle {
  margin-top: 1.875rem;
  font-size: 1.5rem;
  line-height: 1.15;
  max-width: 21.5rem;
  color: #f3f3f3;
  margin-bottom: 6.25rem;
}

.header_button {
  padding: 1.125rem 8.75rem;
  font-weight: 600;
  color: #071925;
  font-size: 2rem;
  line-height: 1.2;
  background-color: #fff;
  border: 5px dashed #c8c8c8;
  border-radius: 3.125rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.8125rem;
}

.second_block {
  padding-top: 3.125rem;
  width: 100%;
  background-color: #eceaea;
  overflow: visible;
  z-index: 10;
}

.second_block-bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 0;
  width: 100%;
  min-height: 43.75rem;
  max-width: 112.5rem;
}

.second-card {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  align-items: center;
  max-width: 25.625rem;
  height: 35.375rem;
  padding-top: 9.375rem;
  z-index: 3;
  background-image: url("../../img/card-bg-777.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.second-card.first {
  align-self: center;
  position: relative;
  z-index: 0;
}
.second-card.second {
  position: absolute;
  top: 18.75rem;
  left: 5%;
  z-index: 5;
  transform: rotate(14deg);
}
.second-card.third {
  position: absolute;
  top: 18.75rem;
  right: 5%;
  z-index: 5;
  transform: rotate(-14deg);
}

.second-card-img {
  position: relative;
  width: 9.375rem;
  height: 9.375rem;
  background: #eeebeb;
  filter: drop-shadow(0px 4px 4px #473dc6);
  border: 3px solid #fff;
  border-radius: 100px;
}

.second-card-img-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 5.625rem;
  width: 100%;
}

.second-card-wrapper {
  border-radius: 1.25rem;
  width: 100%;
}

.second-card-text {
  padding: 2.5rem 1.25rem;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.2;
  color: #16338b;
  text-align: center;
  width: 100%;
}

.third_block {
  padding-top: 62.5rem;
  padding-bottom: 3.125rem;
  width: 100%;
  position: relative;
  z-index: 0;
}

.third-img1 {
  position: absolute;
  top: 44.5rem;
  left: -12.5rem;
  z-index: 0;
}

.third-img2 {
  position: absolute;
  top: 44.5rem;
  right: -12.5rem;
  z-index: 0;
}

.third_block_title {
  color: #16338b;
  font-size: 3.75rem;
  font-weight: 900;
  line-height: 1.2;
  text-align: center;
}

.third_block_text {
  margin: 0 auto;
  margin-top: 3.4375rem;
  color: #e5e4e4;
  max-width: 48.4375rem;
  line-height: 1.2;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
}

.third_block_lasttext {
  margin: 0 auto;
  margin-top: 3.4375rem;
  max-width: 53.125rem;
  width: 100%;
  border-radius: 0.375rem;
  padding: 1.875rem 5.625rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #f3f3f3;
  text-align: center;
  background-image: url("../../img/card2-bg.png");
  background-size: cover;
}

.idea {
  padding-top: 6.25rem;
  padding-bottom: 8.125rem;
  position: relative;
  z-index: 2;
  background-color: #eceaea;
}
.idea.border {
  outline: 5px dashed #b7b7b7;
}
.idea.border::before {
  position: absolute;
  content: "";
  width: 9.375rem;
  aspect-ratio: 1/1;
  background-color: #eceaea;
  border-left: 5px dashed #b7b7b7;
  border-top: 5px dashed #b7b7b7;
  top: -0.375rem;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 0;
}
.idea.five .idea_comment p {
  max-width: 43.75rem;
}

.idea_first_img {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.idea_title {
  color: #16338b;
  font-size: 2.8125rem;
  line-height: 1.2;
  font-weight: 900;
  text-align: center;
}

.idea_number {
  text-align: center;
  font-size: 6.25rem;
  font-weight: 600;
  color: #f2f2f2;
  text-shadow: 0px 15px 22px rgba(0, 0, 0, 0.12);
  position: relative;
  z-index: 10;
}
.idea_number.upper {
  top: -100px;
}

.idea_comment {
  padding: 1.25rem 6.25rem;
  margin-top: -1.25rem;
  width: 70%;
  display: flex;
  justify-content: end;
  position: absolute;
  left: -6.25rem;
  top: 18.75rem;
  font-weight: 500;
  font-size: 1.5rem;
  color: #f2f2f2;
  z-index: 4;
  border-radius: 0.75rem;
  transform: skew(-50deg);
  background: linear-gradient(180deg, #9f53fd 0%, #7a1af0 32.29%);
  text-align: right;
}
.idea_comment p {
  transform: skew(50deg);
  font-size: 1.5rem;
  text-align: left;
  max-width: 35.625rem;
}
.idea_comment.revert {
  left: auto;
  right: -6.25rem;
  transform: skew(50deg);
  justify-content: start;
}
.idea_comment.revert p {
  transform: skew(-50deg);
  max-width: 36.25rem;
}
.idea_comment.upper {
  top: 12.5rem;
}

.idea_photos {
  display: flex;
  width: 100%;
  justify-content: end;
}
.idea_photos.revert {
  justify-content: start;
}
.idea_photos.revert .idea_photo_bg {
  transform: rotate(-4deg);
  right: auto;
  left: 0;
}

.idea_photo_filter {
  position: relative;
  border-radius: 1.25rem;
  max-width: 40.625rem;
  width: 100%;
  aspect-ratio: 16/9;
}

.idea_photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 2;
  max-width: 43.75rem;
}
.idea_photo.photo3 {
  left: auto;
  right: 0;
}

.idea_photo_bg {
  position: absolute;
  right: 0;
  top: 1.875rem;
  transform: rotate(4deg);
  max-width: 40.625rem;
  z-index: 0;
}

.konfeti {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 20;
}

.konfeti2 {
  position: absolute;
  top: -50%;
  right: 0;
  z-index: 20;
}

.santa2 {
  position: relative;
  left: -18.75rem;
}

.ready {
  position: relative;
  z-index: 20;
  padding-top: 6.25rem;
  padding-bottom: 9.375rem;
  min-height: 60vh;
}

.ready_img_left {
  position: absolute;
  top: -6.25rem;
  left: -12.5rem;
  z-index: 0;
}

.ready_img_right {
  position: absolute;
  top: -6.25rem;
  right: -6.25rem;
  z-index: 0;
}

.ready_subtitle {
  margin: 0 auto;
  margin-top: 7.8125rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  color: #f1f4ff;
  max-width: 37.5rem;
}

.prices {
  margin-top: -6.25rem;
  position: relative;
  z-index: 20;
  width: 100%;
}
.prices .container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 12.5rem;
  width: 100%;
}

.prices-bg {
  filter: drop-shadow(7px -6px 11px rgba(123, 28, 240, 0.22));
  width: 100%;
  height: 100%;
  margin-top: -6.25rem;
  min-height: 56.25rem;
}

.prices_red_flag {
  position: absolute;
  left: -1.25rem;
  top: 12.5rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row.end {
  justify-content: flex-end;
}

.maw-600 {
  max-width: 37.5rem;
}

.mt-80 {
  margin-top: 6.25rem;
}

.prices_text_rotate {
  color: #fff;
  font-weight: 900;
  font-size: 1.25rem;
  text-align: center;
  position: absolute;
  top: 16.25rem;
  left: 3.125rem;
}

.prices_text_default {
  color: #9552ef;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}

.prices_cards {
  margin-top: 8.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prices_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.25rem;
  overflow: hidden;
  background: linear-gradient(180deg, #b1b1b1 -82.82%, #fff 99.71%);
  max-width: 18.75rem;
  width: 100%;
}
.prices_card:first-child .card_header {
  background: #8d7fa4;
}
.prices_card:last-child .card_header {
  background: #701cff;
}

.card_header {
  font-weight: 800;
  font-size: 1.5rem;
  color: #fff;
  background: #9f62ff;
  padding: 1.875rem 4.375rem;
  height: 5rem;
  width: 100%;
}

.card_header_price {
  max-width: 8.125rem;
  text-align: center;
  margin: 0 auto;
}

.card_description {
  padding: 1.875rem;
  font-size: 1.25rem;
  color: #150e60;
  font-weight: 500;
}

.grad {
  background: linear-gradient(180deg, #ad86ef 0%, #984ef2 100%);
  box-shadow: 0px 8px 21px 0px rgba(131, 44, 239, 0.22);
}

.why-like {
  padding-top: 6.25rem;
  padding-bottom: 25rem;
  background: linear-gradient(180deg, #7a1af0 25.1%, #baa2ef 100%);
}

.blue_title {
  font-weight: 900;
  font-size: 3rem;
  color: #16338b;
  text-shadow: 0px 4px 13px #a25eff;
}

.mini-container {
  max-width: 61.25rem;
}

.why-like_list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.625rem;
  margin-top: 6.25rem;
}

.why-like_item {
  color: #fff;
  font-size: 1.25rem;
  max-width: 35.3125rem;
  font-weight: 500;
  line-height: 1.2;
  width: 100%;
}
.why-like_item img {
  width: 100%;
}
.why-like_item:nth-child(even) {
  align-self: end;
}

.additionally {
  margin-top: -16.25rem;
  position: relative;
  z-index: 200;
}

.additionallt_vetka {
  position: absolute;
  right: 0;
  top: 7.5rem;
  z-index: 20;
}

.additionally-bg {
  width: 100%;
  filter: drop-shadow(7px -6px 11px rgba(123, 28, 240, 0.22));
  height: 100%;
  margin-top: -6.25rem;
  min-height: 81.25rem;
}

.additionally-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 22.5rem;
}

.add_title {
  font-size: 2.875rem;
  font-weight: 900;
  color: #16338b;
  line-height: 1.2;
  max-width: 47.5rem;
}

.add_list {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 5rem;
  margin-top: 6.25rem;
}

.add_item {
  display: flex;
  color: #473dc6;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.25rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 3.125rem;
}

.add_item_text {
  max-width: 28.125rem;
}

.process {
  margin-top: -21.875rem;
  padding-top: 28.125rem;
  background: linear-gradient(180deg, #7a1af0 27.99%, #baa2ef 85.28%);
}

.process_bg {
  position: absolute;
  top: 18.75rem;
  left: -18.75rem;
  z-index: 2;
}

.process_wrapper1 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.process_title_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 48.75rem;
}

.process_title {
  font-size: 2.875rem;
  font-weight: 900;
  color: #16338b;
  line-height: 1.2;
  max-width: 48.75rem;
}

.process_desc {
  margin-top: 2.8125rem;
  font-size: 2rem;
  font-weight: 500;
  color: #d9d9d9;
  line-height: 1.2;
  max-width: 48.75rem;
  text-wrap: pretty;
}

.process_row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 3.125rem;
  width: 100%;
}

.process_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 6.25rem;
  margin-top: 6.25rem;
}

.process_card {
  position: relative;
}

.process_card_number {
  width: 9.375rem;
  aspect-ratio: 1/1;
  background-color: #473dc6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9.375rem;
  border: 5px dashed #d9d9d9;
  position: absolute;
  z-index: 3;
  color: #fff;
  text-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05), -1px 5px 4px rgba(0, 0, 0, 0.05);
  font-size: 6rem;
  font-weight: 500;
  line-height: 1.2;
}

.process_wrapper {
  position: relative;
  top: 3.125rem;
  left: 3.125rem;
  border: 5px dashed #d9d9d9;
  border-radius: 1.25rem;
}

.process_card_text {
  position: relative;
  z-index: 2;
  top: 1.25rem;
  left: 1.25rem;
  width: 35.625rem;
  height: 12.5rem;
  background-color: #473dc6;
  border-radius: 1.25rem;
  padding: 1.875rem 1.25rem 1.25rem 6.25rem;
  max-width: 34.375rem;
  font-weight: 500;
  font-size: 1.25rem;
  color: #d9d9d9;
  line-height: 1.2;
}

.center_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.process_arrow {
  margin-top: 12.5rem;
}

.process_title2 {
  font-size: 2.875rem;
  font-weight: 900;
  color: #16338b;
  line-height: 1.2;
  text-align: center;
  margin-top: 9.375rem;
}

.form_wrapper {
  width: 100%;
  background: #d9d9d9;
  box-shadow: 0px 48px 105px 0px rgba(0, 0, 0, 0.25);
  outline: 5px dashed #fff;
  outline-offset: -0.9375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3.125rem;
  margin-top: 1.25rem;
}

.process_subtitle2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin-top: 4.375rem;
  color: #16338b;
}

.input {
  max-width: 590px;
  width: 100%;
  font-size: 2rem;
  color: #111;
  font-weight: 500;
  line-height: 1.2;
  padding: 1.25rem 1.875rem;
  border-radius: 6.25rem;
  margin: 0 auto;
  margin-top: 2.5rem;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.input::-moz-placeholder {
  text-align: center;
  color: #bcbbbb;
}
.input::placeholder {
  text-align: center;
  color: #bcbbbb;
}

.submit-button {
  padding: 1.125rem 6.25rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  border: 5px dashed #c8c8c8;
  border-radius: 3.125rem;
  background-color: #fdf7f1;
  margin-top: 3.125rem;
  color: #16338b;
}
.submit-button:disabled {
  color: #bcbbbb;
  background-color: #fdf7f1;
}

.process_blue-text {
  max-width: 36.25rem;
  color: #16338b;
  font-weight: 50;
  font-size: 1.5rem;
  line-height: 1.2;
  margin-top: 5rem;
  text-align: center;
}

@media (min-width: 84.375em) {
  .second_block-bg {
    height: 93.75rem;
    max-width: none;
    width: 100%;
  }
  .additionally-bg {
    margin-top: -12.5rem;
  }
  .process {
    margin-top: -31.25rem;
    padding-top: 37.5rem;
  }
}
@media (max-width: 84.375em) {
  .header_absolute2 {
    right: 6.25rem;
    max-width: 37.5rem;
    bottom: -12.5rem;
  }
  .additionally-bg {
    min-height: 125rem;
  }
}
@media (max-width: 78.125em) {
  .additionallt_vetka {
    display: none;
  }
}
@media (max-width: 68.75em) {
  .ready_img_right {
    display: none;
  }
  .ready_img_left {
    display: none;
  }
  .ready_title {
    text-align: center;
  }
  .ready_subtitle {
    text-align: center;
    margin-top: 3.125rem;
    width: 100%;
  }
}
@media (max-width: 62.5em) {
  .header {
    padding-bottom: 31.25rem;
  }
  .header_absolute2 {
    right: 50%;
    bottom: -37.5rem;
    transform: translate(50%, 0);
  }
  .header_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 28.125rem;
    text-align: center;
  }
  .header_absolute {
    right: 50%;
    transform: translate(50%, 0);
    top: 12.5rem;
  }
  .second-card:nth-child(2n) {
    top: 34.375rem;
    left: 10%;
  }
  .second-card:last-child {
    top: 62.5rem;
    right: 10%;
  }
  .second_block-bg {
    height: 125rem;
  }
  .prices .container {
    top: 6.25rem;
  }
  .prices .row.end {
    justify-content: center;
  }
  .row.mt-80 {
    margin: 0 auto;
    margin-top: 11.25rem;
    max-width: 37.5rem;
    justify-content: center;
  }
  .third_block {
    padding-top: 106.25rem;
  }
  .third-img1 {
    top: 75rem;
  }
  .third-img2 {
    top: 75rem;
  }
  .idea_first_img {
    max-width: 53.125rem;
    width: 100%;
  }
  .konfeti,
  .konfeti2 {
    max-width: 23.75rem;
    width: 100%;
  }
  .idea_title {
    font-size: 1.75rem;
  }
  .idea_comment {
    left: 50%;
    transform: translate(-50%, 0) skew(-30deg);
  }
  .idea_comment p {
    transform: skew(30deg);
  }
  .idea_comment.revert {
    right: auto;
    left: 50%;
    transform: translate(-50%, 0) skew(30deg);
  }
  .idea_comment.revert p {
    transform: skew(-30deg);
  }
  .idea_comment.revert.upper {
    top: 7.5rem;
  }
  .idea_comment.big {
    top: 6.25rem;
  }
  .idea_photos {
    margin: 0 auto;
    margin-top: 9.375rem;
    justify-content: center;
    max-width: 38.125rem;
    width: 100%;
  }
  .idea_photos.revert {
    justify-content: center;
  }
  .idea_photos.big {
    margin: 0 auto;
    margin-top: 12.5rem;
  }
  .idea_photo.photo3 {
    left: 50%;
    top: 60%;
  }
  .idea.five {
    min-height: 56.25rem;
  }
  .process_bg {
    display: none;
  }
  .process_wrapper1 {
    justify-content: center;
  }
}
@media (max-width: 56.25em) {
  .prices_cards {
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    gap: 1.875rem;
  }
  .prices-bg {
    height: 81.25rem;
  }
  .add_item_img {
    max-width: 9.375rem;
    width: 100%;
  }
  .add_item {
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
  }
  .idea_photo {
    max-width: 31.25rem;
  }
  .idea_comment {
    font-size: 1rem;
    transform: translate(-50%, 0) skew(0);
    padding: 1.25rem;
    text-align: center;
    justify-content: center;
  }
  .idea_comment p {
    transform: skew(0);
    font-size: 1.125rem;
    text-align: center;
  }
  .idea_comment.revert {
    transform: translate(-50%) skew(0);
  }
  .idea_comment.revert p {
    transform: skew(0);
    text-align: center;
  }
  .prices_red_flag {
    max-width: 31.25rem;
    width: 100%;
  }
  .prices_text_rotate {
    left: 1.875rem;
    top: 15.625rem;
  }
}
@media (max-width: 43.75em) {
  .konfeti {
    display: none;
  }
  .konfeti2 {
    display: none;
  }
  .prices_text_default {
    font-size: 1.25rem;
  }
  .process_row {
    justify-content: flex-start;
  }
  .process_row.revert {
    justify-content: flex-start;
  }
  .process_wrapper {
    width: 100%;
  }
  .process_card_text {
    width: 100%;
  }
  .third_block_lasttext {
    font-size: 1.125rem;
  }
  .header_absolute2 {
    max-width: 25rem;
    bottom: -18.75rem;
  }
  .header {
    height: 75rem;
  }
  .second-card {
    max-width: 22.625rem;
  }
  .third-img2 {
    display: none;
  }
  .third-img1 {
    display: none;
  }
  .third_block {
    padding-top: 90rem;
  }
  .third_block_title {
    font-size: 2rem;
  }
}
@media (max-width: 37.5em) {
  .prices_text_rotate {
    top: 15.5rem;
    left: 2.5rem;
  }
  .process_card {
    max-width: 23.75rem;
    width: 100%;
  }
  .process_card_number {
    font-size: 1.875rem;
    width: 5.625rem;
    height: 5.625rem;
  }
  .process_wrapper {
    left: 1.875rem;
    top: 1.875rem;
  }
  .process_card_text {
    left: 0.625rem;
    top: 0.625rem;
    padding: 1.875rem 1.25rem 1.25rem 3.25rem;
    height: auto;
  }
  .process_cards {
    gap: 2.5rem;
  }
  .input {
    max-width: 25rem;
    padding: 0.625rem 1.875rem;
    font-size: 1.125rem;
  }
  .submit-button {
    font-size: 1.25rem;
    padding: 1.25rem 4.375rem;
  }
  .idea_photo {
    max-width: 25rem;
  }
  .process_title2 {
    font-size: 2rem;
  }
  .process_blue-text {
    max-width: 25rem;
  }
  .second-card.second,
  .second-card.third {
    transform: rotate(0);
    left: 10%;
  }
  .second-card.second {
    top: 31.375rem;
  }
  .header_title {
    font-size: 1.875rem;
  }
  .header_button {
    font-size: 1.25rem;
  }
  .blue_title {
    font-size: 2rem;
  }
  .add_title {
    font-size: 1.75rem;
  }
  .process_title {
    font-size: 1.75rem;
  }
}
@media (max-width: 31.25em) {
  .prices_text_rotate {
    max-width: 12.5rem;
    left: 4.375rem;
    top: 15rem;
  }
  .idea_comment.first {
    margin-top: 1.875rem;
  }
}
@media (max-width: 25em) {
  .prices_text_rotate {
    max-width: 12.5rem;
    left: 3.125rem;
    top: 14.375rem;
  }
}
@media (max-width: 21.875em) {
  .prices_text_rotate {
    max-width: 12.5rem;
    left: 1.875rem;
    top: 14.375rem;
    font-size: 1rem;
  }
}